{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title">{{ object.title }}</h1>
                    <img class="card-img-top" src="{ images_tag object.preview }" alt="На самом деле тут картинка">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.body }}</li>
                        <li>- {{ object.created_at }}</li>
                    </ul>
                    <div class="btn-group">
                        <a href="{% url 'blog:update' object.pk %}"
                           class="btn btn-lg btn-block btn-outline-primary">Править</a>
                        <a href="{% url 'blog:delete' object.pk %}"
                           class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                    </div>
                    <div class="card-footer">
                        Посещений: {{ object.view_count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}