{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>

<form method="post" enctype="multipart/form-data">
    <div class="formset-card">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Редактирование профиля</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        Сохранить
    </button>
</form>

{% endblock %}